h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
